
body {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

.top_container {
    background-color: #303030;
    color: white;
    padding: 10px;
    text-align: center;
    background: url('images/SpaceBG.png') no-repeat center center/cover;
}

.name {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.home_button, .projects_button, .linkedin_button, .contact_button, .ig_button, .github_button {
    font-family: 'VT323', monospace;
}

.navbar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #666;
}

.intro {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
    
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 16px;
    line-height: 1.6;
}

.middle_container {
    padding: 50px 20px;
    text-align: center;
}

.middle_container_two {
    padding: 40px 20px;
    text-align: center;
}

.skill_profile h2,
.projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.textbox {
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.textbox img {
    width: 50px;
    height: auto;
    margin: 10px;
}


.bottom_container {
    background-color: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

.contact_bar {
    margin-top: 20px;
}

.contact_bar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contact_bar button:hover {
    background-color: #777;
}

.contact_bar a {
    text-decoration: none;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    
    .textbox {
        max-width: 90%;
    }
}
